(?<!決め)(?<=\p{InHiragana})\s*事(?=\p{InHiragana})		// こと

# 数が重要であれば 1つ、2つ、重要でなければ「ひとつ」
一つ				// ひとつ
二つ				// ふたつ
もっとも(?!、)			// 最も
とき				// 時
とおり				// 通り
(?!もちろん)もち(?!なが)		// 持ち
もつ(?!なが)			// 持つ
もて(?!なが)			// 持て
(?<=と)ともに			// 共に
(?<!受け|読み)取る		// とる
(およ)(?=ぶ|ぼ|ん[だで])	// 及
及び(?!つつ)			// および
(?<=にも)関わらず		// かかわらず
(?<!にも)かかわらず		// 関わらず
(?<!に)従って			// したがって
(?<=に)したがって		// 従って
とくに				// 特に
予め				// あらかじめ

(?:あ|な|起こ)\Kり得ない		// りえない
(?:あ|な|起こ)\Kり得る		// りうる
させ得ない			// させえない
させ得る			// させうる

呼出(?=[さしすせそ])		// 呼び出
組込(?=[まみむめも])		// 組み込
押さえ				// 押え
仕組(?![まみむめも])		// 仕組み
いただ(?=[いか-こ])		// 頂
書換え				// 書き換え
割当て				// 割り当て
割当(?!て)			// 割り当て
受渡(?=[さしすせそ])		// 受け渡
受け渡(?![さしすせそ])		// 受け渡し

ユーザー		// ユーザ
マネージャー		// マネージャ
プログラマー(?!ズ)	// プログラマ
コンパイラー		// コンパイラ
セキュリティー		// セキュリティ
セキュリテイ		// セキュリティ
バイナリー		// バイナリ
リンカー		// リンカ
フィルター		// フィルタ
バッファー		// バッファ
コンピューター		// コンピュータ
コンテナー		// コンテナ
プロセッサー		// プロセッサ
ユーティリティー		// ユーティリティ
コミュニティー		// コミュニティ
ヘッダー		// ヘッダ

ベンダ(?!ー)		// ベンダー
メンバ(?!ー)		// メンバー
オーバフロ		// オーバーフロー
プライバシ(?!ー)	// プライバシー
ディレクタ(?!ー)	// ディレクター

ウインドウ		// ウィンドウ
パーミション		// パーミッション
リンカオプション		// リンクオプション
コンパイラオプション	// コンパイルオプション
サブタフュージュ		// サブターフュージュ
サブタヒュージュ		// サブターフュージュ
コンテクスト		// コンテキスト
インターフェース		// インタフェース
インターフェイス		// インタフェース
インタフェイス		// インタフェース
プラットホーム		// プラットフォーム
アドレシング		// アドレッシング
パーセント(?!記号)	// %
ウィルス		// ウイルス
ソフトウエア		// ソフトウェア
ハードウエア		// ハードウェア
マイクロソフト		// Microsoft
カナリヤ		// カナリー
カナリア		// カナリー
コマンドライン		// コマンド行
ミューテック(?!ス)	// ミューテックス
パラメタ		// パラメータ
アセンブラ(?=言語|コード)	// アセンブリ
(?!ガベージ)ガー?ベ[イーッ]?ジ	// ガベージ

空きリスト		// フリーリスト
[被披]演算子		// オペランド

さまざま		// 様々
迄			// まで
最早			// もはや
全て			// すべて
全く			// まったく
無し			// なし
\p{Han}{2,}\Kつき	// 付き
改ざん			// 改竄
見做(?=[すさせ])	// みな
看做(?=[すさせ])	// みな
見な(?=[すさせ])	// みな
或は			// あるいは
或いは			// あるいは
切捨て			// 切り捨て
切捨(?!て)		// 切り捨て
切り捨(?!て)		// 切り捨て
返り値			// 戻り値
最上位(?!層)		// 最高位
最下位(?!層)		// 最低位
呼びだ			// 呼び出
例えば			// たとえば
大抵			// たいてい
読み出し		// 読み込み
#書き出し		// 書き込み
検査漏れ		// 検出漏れ

サービス妨害攻撃		// サービス不能攻撃

(?<!社会|安全|警備)保障	// 保証
関節			// 間接
国歌			// 国家
再(?=[高低上下])	// 最
中段			// 中断
平行			// 並行
フロンと		// フロント
メモり			// メモリ
函数			// 関数
複合(?![的型])		// 復号
複号			// 復号
復合			// 復号
最割り当て		// 再割り当て
開放(?![的性])		// 解放
気密			// 機密
いづれ			// いずれ
付属書			// 附属書
謝り			// 誤り
